<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.kui" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/fjtmisx"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MyActivity" />
        <activity android:name=".Act_BlogDetail" />
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".testFra"
            android:label="@string/title_activity_test_fra" >
        </activity>
        <activity
            android:name=".mainpage"
            android:label="@string/title_activity_mainpage" >
        </activity>
    </application>

</manifest>
